<div class="container jumbotron" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.xs="start center" fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center center" fxLayoutGap="10px">
    <div class="row">
        <div class="col-12 col-sm-3">
            <mat-card class="card-header">
                <mat-card-title>
                    <h3 class="card-items mb-0">A Calulator Web App by Lavan Kumar using Angular</h3>
                </mat-card-title>
                <mat-card-content>
                    <p class="card-items mb-0">A simple environment where you can do arithmetic calculations. please click each button to enter the values or type it using keyboard. Have fun using this app.!!!</p>
                </mat-card-content>
                <img mat-card-image src="../assets/sam.jpg" class="img1">
            </mat-card>
        </div>
        <mat-divider [inset]="true" class="col-12">
        </mat-divider>
        <div>
            <div class="col-12 col-sm-3">
                <div class="calculator">
                    <div class="calculator-screen">

                        <span class="screens" role="textbox" matInput [textContent]="currentval1" onkeypress="this.style.width = ((this.value.length + 1) * 8) + 'px';"></span>
                        <span class="screens" role="textbox" matInput [textContent]="currentval2" onkeypress="this.style.width = ((this.value.length + 1) * 8) + 'px';"></span>
                        <span class="screens" role="textbox" matInput [textContent]="currentval3" onkeypress="this.style.width = ((this.value.length + 1) * 8) + 'px';"></span>
                    </div>

                    <div class="calculator-keys">

                        <button class="example-ripple-container mat-elevation-z4" matRipple type="button" (click)="getOperationAdd()" class="operator" value="+">+</button>
                        <button class="example-ripple-container mat-elevation-z4" matRipple type="button" (click)="getOperationSub()" class="operator" value="-">-</button>
                        <button class="example-ripple-container mat-elevation-z4" matRipple type="button" (click)="getOperationMul()" class="operator" value="*">&times;</button>
                        <button class="example-ripple-container mat-elevation-z4" matRipple type="button" (click)="getOperationDiv()" class="operator" value="/">&divide;</button>

                        <button class="button-class example-ripple-container mat-elevation-z4" matRipple type="button" (click)="getNumber7()" value="7">7</button>
                        <button class="button-class example-ripple-container mat-elevation-z4" matRipple type="button" (click)="getNumber8()" value="8">8</button>
                        <button class="button-class example-ripple-container mat-elevation-z4" matRipple type="button" (click)="getNumber9()" value="9">9</button>


                        <button class="button-class  example-ripple-container mat-elevation-z4" matRipple type="button" (click)="getNumber4()" value="4">4</button>
                        <button class="button-class example-ripple-container mat-elevation-z4" matRipple type="button" (click)="getNumber5()" value="5">5</button>
                        <button class="button-class example-ripple-container mat-elevation-z4" matRipple type="button" (click)="getNumber6()" value="6">6</button>


                        <button class="button-class example-ripple-container mat-elevation-z4" matRipple type="button" (click)="getNumber1()" value="1">1</button>
                        <button class="button-class example-ripple-container mat-elevation-z4" matRipple type="button" (click)="getNumber2()" value="2">2</button>
                        <button class="button-class example-ripple-container mat-elevation-z4" matRipple type="button" (click)="getNumber3()" value="3">3</button>


                        <button class="button-class example-ripple-container mat-elevation-z4" matRipple type="button" (click)="getNumber0()" value="0">0</button>
                        <button class="button-class example-ripple-container mat-elevation-z4" matRipple type="button" (click)="getDecimal()" class="decimal" value=".">.</button>
                        <button class="button-class example-ripple-container mat-elevation-z4" matRipple type="button" (click)="clear()" class="all-clear" value="all-clear">AC</button>

                        <button class="button-class example-ripple-container mat-elevation-z4" matRipple type="button" (click)="getResult()" class="equal-sign" value="=">=</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
