.card-header {
    background-color: aqua;
}

.img1 {
    height: 100px;
    width: 200px;
    padding-left: 50px;
}

.calculator {
    border: 1px solid #252525;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: blue;
    margin-top: 178px;
    position: absolute;
}

.calculator-screen {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    border: none;
    height: 80px;
    background-color: #252525;
    color: #fff;
    text-align: center;
    font-size: 50px;
    padding-top: 10px;
}

button:hover {
    background-color: #eaeaea;
}

.operator {
    color: #337cac;
    height: 60px;
}

.all-clear {
    background-color: #f0595f;
    border-color: #b0353a;
    color: #fff;
}

.all-clear:hover {
    background-color: #f17377;
}

.equal-sign {
    background-color: #2e86c0;
    border-color: #337cac;
    color: #fff;
    height: 100%;
    grid-area: 2 / 4 / 6 / 5;
}

.equal-sign:hover {
    background-color: #4e9ed4;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

button {
    cursor: pointer;
    text-align: center;
    height: 60px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    background-color: transparent;
    font-size: 2rem;
    color: #333;
    background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0, 0, 0, .04));
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .05), inset 0 1px 0 0 rgba(255, 255, 255, .45), inset 0 -1px 0 0 rgba(255, 255, 255, .15), 0 1px 0 0 rgba(255, 255, 255, .15);
    text-shadow: 0 1px rgba(255, 255, 255, .4);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
}
